﻿<div id="chart"></div>
<script>
    $("#chart").kendoChart({
        title: "",
        dataSource: {
            transport: {
                read: {
                    url: "客戶銀行資訊_Read"
                }
            }
        },
        seriesDefaults: {
			type: "area"
		},
		series: [		],
    })
</script>

